{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <div class="contenu">
    <h3>Formulaire d'encodage d'un auteur  </h3>
    {{ form(form) }}
    </div>
{% endblock %}

